.tmsm-notification{
    padding: 10px;
    margin: 20px 0;
    /* text-align: center; */
    border-radius: 4px;
    position: relative;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 16px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%; /* ou une largeur fixe */
    margin-left: auto;
    margin-right: auto;
}
.tmsm-notification-success {
    background-color: #dff0d8; /* Vert pâle pour succès */
    color: #3c763d;
    border-color: #d6e9c6;
}
.tmsm-notification-error {
    background-color: #f2dede; /* Rouge pâle pour erreur */
    color: #a94442;
    border-color: #ebccd1;
}
.tmsm-notification-warning {
    background-color: #f0c195; /* Rouge pâle pour erreur */
    color: #6b341e;
    border-color: #ebccd1;
}

.tmsm-close-notification {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}

.tmsm-close-notification:hover {
    opacity: .5;
}
button.cancelation-button {
    background-color: #030303; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    border: none; /* Pas de bordure */
    padding: 20px 15px; /* Espacement interne */
    font-size: 16px; /* Taille de police */
    margin-top: 10px;
}